# OS.
.DS_Store
Thumbs.db

# VSCode.
.vscode/
.idea/

# Docker.
docker-compose.override.yml

# ENINX.
temp/
logs/

# Frontend.
node_modules/
dist/
.vite/
.cache/
*.tsbuildinfo
.env

# Backend.
__pycache__/
*.py[cod]
*.db
*.sqlite3
.env
*.egg-info/
dist/
build/
.mypy_cache/
.pytest_cache/
.venv/

# Minio.
minio/data/
