services:
  backend:
    build:
      context: ./backend
    container_name: backend
    working_dir: /app
    volumes:
      - ./backend:/app
      - ./imports:/app/imports
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    working_dir: /app
    volumes:
      - ./frontend/app:/app
      - node_modules_frontend:/app/node_modules
    ports:
      - "5173:5173"

volumes:
  node_modules_frontend:
