body {
    font-family: 'Noto Sans JP', sans-serif;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.bg-black {
    background-color: #000000;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

.navigation {
    margin: 15px 0 0 5px;
    padding: 15px 0;
    border-radius: 10px;
    background-color: #131313;
}

.main {
    margin: 15px 5px 50px 20px;
    padding: 0;
    border-radius: 10px;
    background-color: #000000;
}

.dialog-title {
    color: #cfcfcf;
    font-size: 22px;
}

.gray-light {
    color: #c0c0c0 !important;
}

.gray-dark {
    color: #7f7f7f !important;
}
